.updateForm {
    width: 600px;
    padding: 20px;
    background-color: #335252;
    color: #D4DDE1;
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
}

.updateForm input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}

.updateForm > div {
    display: flex;
    justify-content: space-between;
}

.updateForm > button {
    color: #D4DDE1;
    background-color: #AA4B41;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 235px;
    padding: 5px;
}
