.size {
    width: 250px;
    height: 400px;
    background-color: #AA4B41;
    margin-right: 100px;
    padding: 10px;
}

.sInput {
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid #2D3033;
    padding: 2px;
}
