.oneNews {
    width: 300px;
    background-color: #2D3033;
    color: #D4DDE1;
    padding: 10px;
}

.dFlex {
    display: flex;
    grid-gap: 20px;
}

.newsButton {
    background-color: #2D3033;
    color: #AA4B41;
    font-size: 20px;
    border: none;
    width: 300px;
    margin: 10px 0;
}

img {
    width:300px;
}
